.THIS div#commentTemplateOptions .slds-form-element__label{
	display: none;
}

.THIS .spinnerCls{
    top: 10px;
    position: absolute;
    z-index: 1000;
    top: 150px;
}

.THIS .spinnerContainerCls{
	z-index: 90;
}

.THIS .boldCls{
    font-weight: bold;
}

.THIS .errorCls{
    color: red;
}

.THIS .commentHeaderCls{
    background-color: #aec5de;
    border-radius: unset;
    color: black;
    padding: .5rem;
}